//not necessary.... just wrote my first mixin
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/////// Media query manager
/*
0 - 600px - phones only
600px - 900px - Tablet portrait
900px - 1200px - Tablet landscape
1200- 1800px - current styles (desktops firs approach)
1800px -  Big desktop



$breakpoint arguments 
-phone
-tab-port
-tab-land
-big-desktop

Order: Base + typography > general layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content 
    }
  }
  
  @if $breakpoint == tabp {
    @media (max-width: 56.25em) {
      @content
    }
  }
  
  @if $breakpoint == tabl{
    @media (max-width: 75em) {
      @content
    }
  }
  
  @if $breakpoint == big {
    @media (min-width: 112.4em) {
      @content
    }
  }
  
}